* {
	box-sizing: border-box;
}

html {
	height: 100vh;
}

body {
	font-family: 'Josefin Sans', 'Calibri', sans-serif;
	font-size: 15px;
	line-height: 25px;
	padding: 0;
	margin: 0;
	height: 100%;
	text-align: center;
	background: #000000;
	/* trying to add an icon instead of a circle */
	background-image: url("Images/icons-8-computer-40.png"), radial-gradient(#8FC5B9 15%, transparent 10%);
/* 	background-image: radial-gradient(#F0C436 15%, transparent 10%), radial-gradient(#8FC5B9 15%, transparent 10%); */
	background-size: 40px 40px;
	background-position: 0 0, 60px 60px;
	animation-name: backgroundmovement;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes backgroundmovement {
	0% {
		background-position: 0px 0px, 60px 60px;
	}
	100% {
		background-position: 60px 60px, 120px 120px;
	}
}

.centerpiece {
	background: #fffefa;
	box-shadow: 5px 5px 5px lemonchiffon;
	clear: both;
	align-items: center;
	text-align: center;
	width: 720px;
	height: 530px;
	margin: auto;
	margin-top: 50px;
	border-radius: 20px;
	position: relative;
}

.centerpiece h2 {
	padding-top: 1.25%;
}

.centerpiece ul {
	display: inline-block;
	padding-left: initial;
	margin-top: 5px;
}

/** Text **/

h2 {
	font-size: 40px;
	padding-bottom: 0;
	margin: 0;
	line-height: 40px;
	font-family: 'Abril Fatface', serif;
}

h3 {
	margin-bottom: 10px;
	margin-top: 15px;
	font-size: 30px;
}

.centerpiece h3 {
	line-height: 30px;
	margin-right: 2%;
	margin-left: 2%;
}

/** Footer **/

/* footer {
	background: #5bc0de;
	position: fixed;
	padding: 15px;
	width: 100%;
	bottom: 0;
	left: 0;
} */

#btnContainer {
	margin-top: 70px;
}

/* Style the buttons */

.btn {
	background-color: transparent;
	font-size: 15px;
	border: none;
	outline: none;
	padding: 5px 15px;
	cursor: pointer;
	outline: none !important;
}

.btn:hover {
	/*background-color: grey;
border: solid 1px;*/
	color: #EF693A;
}

/* button.selected {
	color: #EF693A;
} */

/*.btn:active {
background-color: grey;
border: solid black 1px;
color: white;
}*/

.buttons {
	padding-top: 15px;
}

@media (max-width: 720px) {
	.centerpiece {
		width: 95%;
	}
	.img img {
		width: 80%;
		height: 80%;
	}
}

hr {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
	width: 300px;
	/* color: salmon; */
}

.img img {
	padding-top: 32.5px;
	/* border-radius: 5%; */
	height: 100%;
}

.col-3 img {
	width: 80%;
	height: 80%;
}

/* PROJECTS PAGE */

.projects {
	background-color: #fffefa;
	;
	/* background-color: #c26868; */
	margin-top: 150px;
	/* padding-left: 25%; */
	/* padding-right: 25%; */
	height: 75vh;
	width: 100%;
	padding-top: 40px;
}

.items {
	align-items: center;
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
}

/* .projects .left {
	float: left;
	padding-left: 100px;
}

.projects .right {
	padding-right: 100px;
	float: right;
} */

footer {
	bottom: 0;
	width: 100%;
	height: 125px;
	padding-top: 15px;
	/* margin-top: 50px; */
	color: white;
	font-size: 30px;
	/* line-height: 30px; */
	text-align: center;
	align-items: center;
	/* text-shadow: 0 1px 0 rgba(255, 255, 255, .5); */
	background: black;
}

footer h4 {
	font-size: 15px;
}

/* footer .btn {
	text-shadow: none
} */

/* footer .icons a.icon-link {
	display: inline-block;
	min-width: 30px;
	height: 30px;
	border-radius: 3px;
	background-color: #666;
	text-align: center;
	color: #e8e8e8;
	-webkit-transition: all .15s;
	transition: all .15s;
	padding: 0 10px
}

footer .icons a.icon-link.rss {
	background-color: #f80
}

footer .icons a.icon-link:hover {
	text-decoration: none;
	background-color: #4d4d4d
}

footer .list-inline>li {
	padding-right: 0;
	display: inline;
} */

.col-sm-5 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px
}

.row {
	padding-left: 15%;
	/* padding-right: 10%; */
}

.row:before, .row:after {
	content: "";
	display: table;
	clear: both;
}

@media (max-width:768px) {
	#gallery1 {
		margin-left: 210%;
	}
	.items {
		width: auto;
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
	}
}

.grid-container {
	width: 100%;
	max-width: 1200px;
}

.col-1 {
	width: 16.66%;
}

.col-2 {
	width: 33.33%;
}

.col-3 {
	width: 40%;
}

.col-4 {
	width: 66.66%;
}

.col-5 {
	width: 83.33%;
}

.col-6 {
	width: 100%;
}

[class*='col-'] {
	/* align-self: center; */
	float: left;
	display: block;
	/* display: inline; */
	min-height: 1px;
	/* width: 16.66%; */
	/*-- our gutter -- */
	padding: 12px;
	margin: 10px;
	background-color: rgb(228, 122, 122);
	/* background-color: #383737; */
	box-shadow: 5px 5px 5px #cccccc;
	border-radius: 20px;
}

[class*='col-']>h3 {
	/* background-color: #FFC2C2; */
	text-align: center;
}

div.gallery {
	margin: 15px;
	border: 1px solid #EAEDEF;
	float: left;
	width: 250px;
	height: 300px;
	background: #fffefa;
	/* border-radius: 20px; */
	color: black;
	/* box-shadow: 5px 5px 5px lemonchiffon; */
}

/* 
div.gallery:hover {
	border: 1px solid black;
} */

div.gallery img {
	width: 250px;
	height: 250px;
}

.desc {
	font-size: 25px;
	text-align: center;
}

.section-title {
	position: relative;
	margin-bottom: 1em;
	font-size: 22px;
	letter-spacing: 1px;
	font-weight: 700px;
}

.section-title span {
	position: relative;
	display: inline-block;
	padding-right: 1.4em;
	background: #fff;
}

.section-title:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	/* margin-top:  */
	width: 100%;
	border-bottom: 4px solid #8FC5B9;
}

.section-title span i {
	font-size: 16px;
	margin-right: 14px;
	line-height: 39px;
	text-align: center;
	color: #8FC5B9;
	background: #fff;
	border-radius: 50%;
	border: 4px solid #F4F6F7;
	display: inline-block;
	width: 47px;
}

.gallery {
	position: relative;
	/* width: 50%; */
}

.image {
	opacity: 1;
	display: block;
	/* width: 100%;
	height: auto; */
	transition: .5s ease;
	backface-visibility: hidden;
	margin-bottom: 15px;
}

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.gallery:hover .image {
	opacity: 0.3;
}

.gallery:hover .middle {
	opacity: 1;
}

.text {
	background-color: #4CAF50;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
}
