* {
	box-sizing: border-box;
}

html {
	height: 100vh;
}

body {
font-family: 'Josefin Sans', 'Calibri', sans-serif;
font-size: 15px;
line-height: 25px;
padding: 0;
margin: 0;
min-height: 100vh;
height: 100%;
text-align: center;
background: wheat;
background-image: radial-gradient(salmon 15%, transparent 10%),
			radial-gradient(salmon 15%, transparent 10%);
background-size:40px 40px;
background-position: 0 0, 60px 60px;
animation-name: backgroundmovement;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

@keyframes backgroundmovement {
 0% {
	 background-position: 0px 0px, 60px 60px;
		}
 100% {
	 background-position: 60px 60px, 120px 120px;
	}
}
.centerpiece{
background: white;
box-shadow: 5px 5px 5px lemonchiffon;
clear: both;
align-items: center;
text-align: center;
width: 700px;
height: 500px;
margin: auto;
}

.centerpiece h2{
padding-top:1.25%;
}

.centerpiece ul{
display: inline-block;
padding-left: initial;
margin-top: 5px;
}
.centerpiece.longScreen{
width: 750px;
height:145vh;
}
#div{
display: inline-block;
z-index: 9999; 
width: 750px; 
height: 90vh; 
animation: fadeEffect 0.5s;
}
@keyframes fadeEffect{
from {opacity: 0;}
			to {opacity: 1;}
}
section#mainpage.long{
height: 160vh;
}
/** Text **/
h2 {
font-size: 40px;
padding-bottom: 0;
margin: 0;
line-height: 40px;
font-family: 'Abril Fatface', serif;
}
h3 {
margin-bottom:10px;
margin-top:15px;
font-size:30px;
}

/** Footer **/
footer {
background: #5bc0de;
position: fixed;
padding: 15px;
width: 100%;
bottom: 0;
left: 0;
}
#btnContainer {
margin-top: 70px;
}

/* Style the buttons */
.btn {
background-color: transparent;
font-size: 15px;
border: none;
outline: none;
padding: 5px 15px;
cursor: pointer;
outline: none !important;
}

.btn:hover {
/*background-color: grey;
border: solid 1px;*/
color: salmon;
}
button.selected {
color:salmon;
}
/*.btn:active {
background-color: grey;
border: solid black 1px;
color: white;
}*/
.buttons {
 padding-top:15px;
}
